.child {
    user-select: none;
    padding: 3rem;
    border-radius: 2rem;
    background-color: rgba(227, 192, 51, 0.6);
    text-align: center;
    font-size: 2rem;
    .text-rainbow {
        background-image: linear-gradient(
            to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red
        );
        background-clip: text;
        color: transparent;
        font-weight: bold;
    }
}
